.app-name {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  font-family: "nova square", monospace;
}

.app-name-dark {
  color: var(--primary-text-dark);
}

.app-name-light {
  color: var(--primary-text);
}

#tee {
  color: var(--theme-color);
}
